{% extends "base.html" %}
{% block title %}First Ugly Shop{% endblock %}
{% block header %}
    <span class="logo">First Shop test</span>
{% if role == None %}
    <span class="Login"><a href="../login">
       <button>Login</button></a>
    </span>
{% else %}
    <span class="username">{{ user }}</span>
       <span class="Logout"><a href="../logout">
       <button>Logout</button></a>
        </span>
{% endif %}
{% endblock %}
{% block content %}

<br>
<form action="" method="POST">{% csrf_token %}
    <a href="../" name="category" value="None">All</a>
    <a href="../category/Book" name="category" value="Book">Book</a>
    <a href="../category/HomeThings" name="category" value="HomeThings">HomeThings</a>
    <a href="../category/Food" name="category" value="Food">Food</a>
</form>
    <div id="main" class="product-list">
        <h1>Products</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ shop.get_absolute_url }}">
                </a>
                <a href="../product/{{ product.id }}">{{ product.name }}</a>
                <br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}